@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.js";

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('fonts/CabinetGrotesk/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Cabinet Grotesk', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: white;
  --foreground: #1b4332;
  --card: white;
  --card-foreground: #1b4332;
  --popover: white;
  --popover-foreground: #1b4332;
  --primary: #1b4332;
  --primary-foreground: white;
  --secondary: #3C9D7C;
  --secondary-foreground: #1b4332;
  --muted: #d8f3dc;
  --muted-foreground: #1b4332;
  --accent: #d8f3dc;
  --accent-foreground: #1b4332;
  --destructive: #f25c05;
  --border: #e0e0e0;
  --input: #e0e0e0;
  --ring: #ffb347;
  --chart-1: #ffb347;
  --chart-2: #1b9aaa;
  --chart-3: #fcd5ce;
  --chart-4: #f77f00;
  --chart-5: #f25c05;
  --sidebar: white;
  --sidebar-foreground: #1b4332;
  --sidebar-primary: #1b4332;
  --sidebar-primary-foreground: white;
  --sidebar-accent: #d8f3dc;
  --sidebar-accent-foreground: #1b4332;
  --sidebar-border: #e0e0e0;
  --sidebar-ring: #ffb347;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-5xl font-bold leading-tight;
  }

  h2 {
    @apply text-4xl font-bold leading-snug;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-xl font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }

  p {
    @apply text-base font-medium;
  }
}
